<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>
<body>
    <div id="header">
        <span class="logo">Bookmarks</span>    
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
