{% extends "base.html" %}

{% block title %}{{ user.get_full_name|default:user.username }}{% endblock %}

{% block content %}
  <h1>{{ user.get_full_name|default:user.username }}</h1>
  <div class="profile-info">
    {% if user.profile.photo %}
      <img src="{{ user.profile.photo.url }}" class="user-detail">
    {% endif %}
  </div>
  {% with total_images_created=user.images_created.count %}
    <span class="count">
      {{ total_images_created }} image{{ total_images_created|pluralize }} bookmarked
    </span>
  {% endwith %}
  
  {% if user.images_created.all %}
    <div class="image-container">
      <h2>Images bookmarked</h2>
      <div id="image-list">
        {% for image in user.images_created.all %}
          <div class="image">
            <a href="{{ image.get_absolute_url }}">
              {% if image.image %}
                <img src="{{ image.image.url }}" alt="{{ image.title }}">
              {% endif %}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
